/* Body */
body {
    font-family: Arial;
}

/* ID selector */
#name {
    color: plum;
}

/* Headings */
h2 {
    color: palevioletred;
}

/* Link and hover */
a {
    color: blue;
}

a:hover {
    color: rgb(39, 237, 46);
}

/* Lists */
ol {
    background-color: beige;
}

ul {
    background-color: bisque;
}

/* Table */
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Zebra rows */
tr:nth-child(even) {
    background-color: #dddddd;
}