* {
    box-sizing: border-box; 
    margin: 0;             
    padding: 0;           
    font-family: Arial, sans-serif; 
}



body {
    background-color: whitesmoke; 
}


.container {
    display: flex;              
    justify-content: center;    
    align-items: center;    
    height: 100vh;              
}


.card {
    background-color: white; 
    width: 400px;           
    padding: 50px;           
    border-radius: 15px;     
    box-shadow: 0 10px 25px grey; 
}


.logo {
    color: #1DB954;     
    font-weight: bold;   
    font-size: 25px;     
    text-align: center;  
    margin-bottom: 10px; 
}


h1 {
    text-align: center;  
    margin-bottom: 30px; 
    font-size: 22px;    
}


form {
    display: flex;            
    flex-direction: column;   
}


label {
    margin-bottom: 5px;  
    font-size: 15px;     
    font-weight: 500;    
}


input {
    width: 100%;           
    padding: 10px;          
    margin-bottom: 18px;    
    border-radius: 6px;     
    border: 1px solid grey; 
    font-size: 15px;       
}


input:focus {
    outline: none;
    border-color: #1DB954; 
    box-shadow: 0 0 0 2px grey;
}


.checkbox-group {
    display: flex;        
    align-items: center;   
    gap: 10px;              
    margin-bottom: 20px;   
    font-size: 15px;        
}



.checkbox-group input {
    width: auto; 
}


button {
    background-color: #1DB954; 
    color: white;            
    padding: 12px;         
    border: none;            
    border-radius: 25px;      
    font-weight: bold;       
    cursor: pointer;                
}


button:hover {
    background-color: #1ed760; 
}


.bottom-text {
    text-align: center;  
    margin-top: 20px;   
    font-size: 14px;     
}


.bottom-text a {
    color: #1DB954;     
    font-weight: 500;     
}


.bottom-text a:hover {
    text-decoration: underline; 
}