body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.left {
    max-width: 400px;
}

.left h1 {
    color: #1877f2;
    font-size: 56px;
    margin-bottom: 10px;
}

.left p {
    font-size: 22px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card input {
    padding: 14px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 6px;
}

.card input:focus {
    outline: none;
    border-color: #1775ef;
    box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
}

.login-btn {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot {
    text-align: center;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    align-self: center;
}

.create-btn:hover {
    background-color: green;
}

footer {
    background-color: white;
    padding: 20px 0;
    font-size: 12px;
    color: #737373;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.languages,
.footer-links {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.languages a,
.footer-links a {
    text-decoration: none;
    color: grey;
}

.languages a:hover,
.footer-links a:hover {
    text-decoration: underline;
}

footer hr {
    border: none;
    border-top: 1px solid white;
    margin: 10px 0;
}

